.container {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.main {

	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}



.contact {
	width:20%;
	height:40px;
	background:url('/linkedin.png');
	cursor: pointer;
}

.footer {
	width: 100%;
	height: 100px;
	border-top: 1px solid #eaeaea;
	display: flex;
	justify-content: center;
	align-items: center;
}

.footer a {
	display: flex;
	justify-content: center;
	align-items: center;
}

.footer .img {
	width: 19px;
	height: 19px;
	margin-block-start: 1em;
	margin-block-end: 1em;
	margin-right: 4px;
}
.title a {
	color: #0070f3;
	text-decoration: none;
}
.flex {
	display: flex;
	margin: 0 10px;
}
.title a:hover,
.title a:focus,
.title a:active {
	text-decoration: underline;
}

.title {
	margin: 0;
	line-height: 1.15;
	font-size: 4rem;
	cursor: pointer;
}

.title,
.description {
	text-align: center;
	color:darkgray;
}

.titleImg {
	width: 200px;
	height: 200px;
	border-radius: 200px;
	margin: 20px 0;
}

.description {
	line-height: 1.5;
	font-size: 1.5rem;
}

.code {
	background: #fafafa;
	border-radius: 5px;
	padding: 0.75rem;
	font-size: 1.1rem;
	font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
	Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	max-width: 800px;
	margin-top: 3rem;
}

.inPage {
	align-items: center;
	justify-content: center;
	padding: 2rem 0;
	width: 100%;
	border-bottom: 1px darkgray dashed;
}

.card {
	margin: 1rem;
	flex-basis: 45%;
	padding: 1.5rem;
	text-align: left;
	color: inherit;
	text-decoration: none;
	border: 1px solid #eaeaea;
	border-radius: 10px;
	transition: color 0.15s ease, border-color 0.15s ease;
}

.card:hover,
.card:focus,
.card:active {
	color: #0070f3;
	border-color: #0070f3;
}

.card h3 {
	margin: 0 0 1rem 0;
	font-size: 1.5rem;
}

.card p {
	margin: 0;
	font-size: 1.25rem;
	line-height: 1.5;
}

.logo {
	height: 1em;
}
.contactDiv {
	padding: 40px 0;
	width:800px;
	display:flex;
	border-bottom: 1px darkgrey dashed;
}

.header {
    display: flex;
    background-color: #fff;
}
.headerContents {
    display: flex;
    width: 100%;
    height: 100%;
	min-width: 634px;
    margin-left:auto;
    align-items: center;
    justify-content: space-between;
}
.searchWrap {
    justify-content: center;
    align-items: center;
}
.headerMenu {
	margin-right: 10px;
}

.headerLogo {
	margin: auto 0 auto 10px;
	cursor: pointer;
}

.headerNav {
	text-align: right;
	float: right;
	margin-left: auto;
}

.headerMain {
	padding: 0 24px!important;
	background: #fff!important;
}

.headerMyProfile {
    width: 40px;
	min-width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background-color: #D3ECFF;
	margin-left: 14px;
    margin-right: 120px;
    cursor: pointer;
}

.headerSearchbar {
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
	background-color: #f4f9fd;
	width: 220px;
	min-width:200px;
	max-width: 230px;
	margin: 0 14px;
}

.loginBtnKakao {
	background-image: url('/assets/images/buttons/kakao_login_btn.svg');
}

.socialLoginBtn {
	display: block;
    margin: 1.2rem auto;
    width: 292px;
    height: 45px;
	border: none;
    line-height: 44px;
	background-repeat: no-repeat;
	background-size: cover;
    cursor: pointer;
	text-align: center;
}

.loginBtnGoogle {
	background-image: url('/assets/images/buttons/google_login_btn.svg');
}

.loginLogo {
    display: block;
    height: 169px;
	width: 183px;
	margin: 120px auto 90px auto;
    justify-content: center;
}
.signinLayout {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin: 30px auto;
    vertical-align: middle
}

#components-layout-demo-top-side-2 .logo {
    float: left;
    width: 120px;
    height: 31px;
    margin: 16px 24px 16px 0;
    background: rgba(255, 255, 255, 0.3);
}
  
  .ant-row-rtl #components-layout-demo-top-side-2 .logo {
	float: right;
	margin: 16px 0 16px 24px;
  }


  .site-layout-background {
	background: #f00;
  }
@media (max-width: 800px) {
	.contactDiv {
		width: 100%;
	}
	.container {
		width: 100%;
	}

	.main {
		width: 90%;
	}

	.description {
		background: #fafafa;
	}

	.description .code {
		background: transparent;
	}
}
@media (max-width: 600px) {
	.grid {
		width: 100%;
		flex-direction: column;
	}

}

.shine-hover:hover:after,
.shine-hover:hover:before,
.title:hover:after,
.title:hover:before,
.contact:hover:after,
.contact:hover:before {
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}
.shine-hover:hover,
.title:hover,
.contact:hover {
	-webkit-mask-image: linear-gradient(-75deg, rgba(0,0,0,.6) 30%, #000 50%, rgba(0,0,0,.6) 70%);
	-webkit-mask-size: 200%;
	animation: shine 2s infinite;
}

.shine-hover {
	border-bottom: 1px dashed black;
}
@-webkit-keyframes shine {
	from {
	  -webkit-mask-position: 150%;
	}
	
	to {
	  -webkit-mask-position: -50%;
	}
  }
.const {
	color: #0070f3;
}

.string-const {
	color:cadetblue;
}

.string {
	color:darkgoldenrod;
}

.grey-background {
	background-color: lightgray;
	width: 100%;
	padding: .5rem 1rem;
}

.paragraph {
	width: 770px;
	margin: 0 auto;
}

/**
* 태블릿 사이즈
*/
@media screen and (max-width:1100px) {
  
}

/**
* 큰 휴대폰 사이즈
*/
@media screen and (max-width:768px) {
	.headerSearchbar {
		display: none!important;
	}
	.headerMyProfile {
		margin-right: 20px;
	}
	.headerContents {
		min-width: inherit;
	}
	.headerLogo {
		margin: auto 160px auto 10px;
	}
	.ant-menu-submenu-popup {
		right: 12px!important;
	}
}

/**
* 휴대폰 사이즈
*/
@media screen and (max-width:520px) {
  
}